<% layout('../layout') %> 

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <!-- 회원 프로필 -->
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-info mr-4" data-toggle="modal" data-target="#attend-modal">
                  수강등록
                </button>
                <button type="button" class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#pay-modal">
                  수강료 결제
                </button>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"><%= user.major === null ? '-' : user.major %></span>
                      <span class="description">주전공</span>
                    </div>
                    <div>
                      <span class="heading"><%= '-' %></span>
                      <span class="description">부전공</span>
                    </div>
                    <div>
                      <span class="heading"><%= '-' %></span>
                      <span class="description">선택</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                    <%= user.name %> (<%= user.gender %>)
                    <span class="font-weight-light">, <%= new Date().getFullYear() - new Date(user.birth).getFullYear() + 1 %></span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i> <%= user.type === null ? '-' : user.type %>
                </div>
                <hr class="my-4" />
                <span class="font-weight-light">Since. <%= user.regdate %></span>
              </div>
            </div>
          </div>
        </div>
        <!-- // 회원 프로필 -->
        <!-- 회원 정보 -->
        <div class="col-xl-8 order-xl-1 mb-5">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">회원 정보</h3>
                </div>
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#delete-Modal">
                      삭제
                    </button>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="pl-lg-4">
                  <% if (locals.messages && messages.success) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= messages.success %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <% if (locals.messages && messages.errors && messages.errors.databaseError) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= messages.errors %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">이름</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= user.name %>">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">생년월일</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= user.birth %>">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">연락처</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="연락처" value="<%= user.phone %>">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">보호자 성함</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= user.name %>">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">보호자 연락처</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= user.phone %>">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">메모</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= user.memo %>">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- // 회원 정보 -->
      </div>

              <!-- Button trigger modal -->

<!-- 삭제 모달 -->
<div class="modal fade" id="delete-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        정말 삭제하시겠습니까?
      </div>
      <form action="/users/delete" method="POST">
        <input type="hidden" name="uid" value="<%= user.uid %>">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">삭제</button>
        </div>
      </form>
    </div>
  </div>
</div>

              <!-- 수강 등록 모달  -->
      <div class="modal fade" id="attend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">수업등록</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/attend" method="POST">
                <input type="hidden" name="uid" value="<%= user.uid %>">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">구분</label>
                      <select name="type" class="form-control form-control-alternative">
                        <option value="">선택</option>
                        <% types.forEach(list => { %>
                          <option value="<%= list.type %>" <%= list.type === user.type ? 'selected' : '' %>><%= list.type %></option>
                        <% }) %> 
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">전공</label>
                      <select name="major" class="form-control form-control-alternative">
                        <option value="">선택</option>
                        <% subject.forEach(list => { %>
                          <option value="<%= list.s_name %>" <%= list.s_name === user.major ? 'selected' : '' %>><%= list.s_name %></option>
                        <% }) %> 
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">수강 과목 1</label>
                      <select name="subject1" id="" class="form-control form-control-alternative">
                          <option value="">선택</option>
                        <% subject.forEach(list => { %>
                          <option value="<%= list.sid %>"><%= list.s_name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">수강 과목 2</label>
                      <select name="subject2" id="" class="form-control form-control-alternative">
                        <option value="">선택</option>
                        <% subject.forEach(list => { %>
                          <option value="<%= list.sid %>"><%= list.s_name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">수강 과목 3</label>
                      <select name="subject3" id="" class="form-control form-control-alternative">
                        <option value="">선택</option>
                        <% subject.forEach(list => { %>
                          <option value="<%= list.sid %>"><%= list.s_name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">수강료 총액</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="total_price" placeholder="수강료 총액">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">시작일</label>
                      <input type="date" id="input-name" class="form-control form-control-alternative" name="started">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">종료일</label>
                      <input type="date" id="input-name" class="form-control form-control-alternative" name="ended">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">결제내용</label>
                      <select name="pid" id="" class="form-control form-control-alternative">
                        <option value="">직접 입력</option>
                        <% payment.forEach(list => { %>
                          <option value="<%= list.pid %>"><%= list.name %> | <%= list.date %> | <%= list.type %> | <%= list.amount %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">결제수단</label>
                      <select name="" id="" class="form-control form-control-alternative">
                        <option>선택</option>
                        <option value="카드">카드</option>
                        <option value="현금">현금</option>
                        <option value="포인트">포인트</option>
                        <option value="울산페이">울산페이</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">결제일자</label>
                      <input type="date" id="input-name" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">결제금액</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">등록</button>
              </div>
            </form>
          </div>
        </div>
      </div>

                    <!-- 결제 모달  -->
                    <% include ../partials/paymodal %>

      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const subject1 = document.querySelector('select[name=subject1]');
    const subject2 = document.querySelector('select[name=subject2]');
    const subject3 = document.querySelector('select[name=subject3]');
    subject1.addEventListener('change', getPrice);
    subject2.addEventListener('change', getPrice);
    subject3.addEventListener('change', getPrice);
    function getPrice(){
      console.log(this.value);
        axios({
          method: 'post',
          url: '/api',
            data: {
              sid1: subject1.value,
              sid2: subject2.value,
              sid3: subject3.value
              }
            })
        .then(response => {
          document.querySelector('input[name=total_price]').value = response.data
        })
      };
  </script>
</body>
