<% layout('../layout') %> 

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">강사 목록</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#regist-modal">
                    강사등록
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">이름</th>
                    <th scope="col">성별</th>
                    <th scope="col">생년월일</th>
                    <th scope="col">연락처</th>
                    <th scope="col">계좌번호</th>
                    <th scope="col">은행</th>
                    <th scope="col">관리</th>
                  </tr>
                </thead>
                <tbody>
                  <% teachers.forEach(teacher => { %>
                    <tr>
                      <td><input type="hidden" name="tid" value="<%= teacher.tid %>"><%= teacher.name %></td>
                      <td><%= teacher.gender %></td>
                      <td><%= teacher.birth %></td>
                      <td><%= teacher.phone %></td>
                      <td><%= teacher.account_number %></td>
                      <td><%= teacher.bank %></td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#update-modal-tid<%= teacher.tid %>">
                        수정
                        </button>
                      </td>
                            <!-- 강사정보 편집 모달  -->
      <div class="modal fade" id="update-modal-tid<%= teacher.tid %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">강사정보</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/teachers/update" method="POST">
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                      <input type="hidden" name="tid" value="<%= teacher.tid %>">
                      <label class="form-control-label" for="input-name">이름</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" value="<%= teacher.name %>" required>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">생년월일</label>
                      <input type="date" id="input-name" class="form-control form-control-alternative" name="birth" placeholder="생년월일" value="<%= teacher.birth %>" required>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">성별</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="gender" placeholder="성별" value="<%= teacher.gender %>" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">연락처</label>
                      <input type="phone" id="input-name" class="form-control form-control-alternative" name="phone" placeholder="연락처" value="<%= teacher.phone %>"required>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">계좌번호</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="account_number" placeholder="계좌번호" value="<%= teacher.account_number %>" required>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">은행</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="bank" placeholder="은행" value="<%= teacher.bank %>" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">수정</button>
              </form>
            </div>
          </div>
        </div>
      </div>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- 강사등록 모달  -->
      <div class="modal fade" id="regist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">강사등록</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/teachers/regist" method="POST">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">이름</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="이름" required>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">생년월일</label>
                      <input type="date" id="input-name" class="form-control form-control-alternative" name="birth" placeholder="생년월일" required>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">성별</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="gender" placeholder="성별" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">연락처</label>
                      <input type="phone" id="input-name" class="form-control form-control-alternative" name="phone" placeholder="연락처" required>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">계좌번호</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="account_number" placeholder="계좌번호" required>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">은행</label>
                      <input type="text" id="input-name" class="form-control form-control-alternative" name="bank" placeholder="은행" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">등록</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
